<launch>

  <group ns="jetbot">

      <node pkg="pid" name="pid_errors_slope_node" type="pid_errors.py">
          <param name="SMART_ERROR" value="1"/>
          <param name="LIMIT" value="0.3"/>
          <param name="DESIRED" value="0"/>

          <remap from="in_topic" to="lane_slope"/>
          <remap from="out_topic" to="pid_errors_slope"/>
      </node>

      <node pkg="pid" name="pid_control_slope_node" type="pid_control.py">
          <rosparam>
              PID/P: 0.14
              PID/I: 0.0005
              PID/D: 0.005
          </rosparam>

          <remap from="in_topic" to="pid_errors_slope"/>
          <remap from="out_topic" to="pid_control_slope"/>
      </node>

  </group>

</launch>
