<launch>

  <group ns="jetbot">

      <node pkg="pid" name="pid_errors_distance_node" type="pid_errors.py">
          <param name="DESIRED" value="0.6"/>
          <remap from="in_topic" to="red_distance"/>
          <remap from="out_topic" to="pid_errors_distance"/>
      </node>

      <node pkg="pid" name="pid_control_distance_node" type="pid_control.py">
          <rosparam>
              PID/P: 0.4
              PID/I: 0
              PID/D: 0
          </rosparam>

          <remap from="in_topic" to="pid_errors_distance"/>
          <remap from="out_topic" to="pid_control_distance"/>
      </node>

  </group>

</launch>
