<launch>

<include file="$(find camera)/launch/camera.launch"/>
<include file="$(find color_mask)/launch/yellow_mask.launch"/>
<include file="$(find yellow_lane_angle)/launch/yellow_lane_angle.launch"/>
<include file="$(find pid)/launch/pid_angle.launch"/>

<include file="$(find motor_speed)/launch/motor_speed.launch"/>

  <group ns="jetbot">
    <param name="MAX_VELOCITY" value="0.32"/>
    <param name="MIN_VELOCITY" value="0.25"/>
    <param name="SHARP_TURN" value="0.1"/>
    <param name="CONTROLLER_READY" value="0"/>

    <node pkg="jetbot_demos" name="lane_following_angle_only_node" type="lane_following_angle_only.py"/>
  </group>

</launch>
