<launch>

  <group ns="jetbot">
    <node pkg="camera" name="camera_node" type="camera.py">
      <remap from="out_topic_raw" to="camera/raw"/>
      <remap from="out_topic_preprocessed" to="camera/processed"/>
      <remap from="out_topic_cropped" to="camera/cropped"/>
        <param name="SCALE" value="8"/>
        <param name="OFFSET" value="50"/>
    </node>
  </group>

</launch>
