<launch>

<include file="$(find camera)/launch/camera.launch"/>
<include file="$(find color_mask)/launch/yellow_mask.launch"/>

  <group ns="jetbot">

      <node pkg="object_slope" name="lane_slope_node" type="object_slope.py">
          <remap from="in_topic" to="yellow_mask"/>
          <remap from="out_topic" to="lane_slope"/>
      </node>

  </group>


</launch>
