<launch>

<include file="$(find camera)/launch/camera.launch"/>


  <group ns="jetbot">

      <!-- remap the color_mask_node -->
      <node pkg="color_mask" name="red_mask_node" type="color_mask.py">
          <param name="NOISE_CANCEL" value="1"/>
          <rosparam>
              HSV/LOWER: [168, 141, 144]
              HSV/UPPER: [174, 162, 173]
          </rosparam>

          <remap from="in_topic" to="camera/processed/cropped"/>
          <remap from="out_topic" to="red_mask"/>
      </node>

  </group>


</launch>
