<launch>

<include file="$(find camera)/launch/camera.launch"/>
<include file="$(find yellow_mask)/launch/yellow_mask.launch"/>
<include file="$(find yellow_lane_angle)/launch/yellow_lane_angle.launch"/>
<include file="$(find motor_speed)/launch/motor_speed.launch"/>
  <group ns="jetbot">
    <node pkg="pid_angle" name="pid_angle_node" type="pid_angle.py"/>
  </group>

</launch>
