<launch>

<include file="$(find camera)/launch/camera.launch"/>
<include file="$(find color_mask)/launch/red_mask.launch"/>
<include file="$(find object_centroid)/launch/red_centroid.launch"/>


  <group ns="jetbot">
      <node pkg="object_distance" name="red_distance_node" type="object_distance.py">
          <remap from="in_topic" to="red_centroid"/>
          <remap from="out_topic" to="red_distance"/>
      </node>
  </group>

</launch>
