<launch>

  <group ns="jetbot">

      <!-- remap the color_mask_node -->
      <node pkg="object_centroid" name="red_centroid_node" type="object_centroid.py">
          <remap from="in_topic" to="camera/processed/cropped"/>
          <remap from="out_topic" to="red_centroid"/>
      </node>

  </group>

</launch>
