<launch>

  <group ns="jetbot">

      <node pkg="object_centroid" name="red_centroid_node" type="object_centroid.py">
          <remap from="in_topic" to="red_mask"/>
          <remap from="out_topic" to="red_centroid"/>
          <param name="NORMALIZE" value="1"/>
      </node>

  </group>

</launch>
